/* 기본 배경 및 색상 설정 */
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(23, 24, 43) 35%,
    rgb(1, 22, 27) 100%
  );
  color: white;
  font-family: "Playwrite DE Grund", sans-serif; /* 폰트 설정 추가 */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.content {
  float: right;
  font-size: 24px;
  line-height: 28px;
  margin-right: 150px;
  margin-top: 50px;
}

/* 상단 래퍼 스타일 */
.top-wrapper {
  min-height: 100vh;
  background-color: black;
}

/* 헤더 스타일 */
header {
  color: white;
  width: 100%;
  height: 100px;
}

header h1 {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Playwrite DE Grund";
}

/* 로그인/로그아웃 버튼 스타일 */
.login-signup-wrap {
  position: fixed;
  right: 10px;
  top: 30px;
}

.login-signup-btn {
  border: none;
  background: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

/* 영화 리스트 제목 스타일 */
.movie-list-title {
  font-size: 28px; /* 제목 폰트 크기 수정 */
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

/* 영화 리스트 스타일 */
.movie-list {
  width: 80%;
  margin: 0 auto; /* 중앙 정렬 */
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-list li {
  width: 26%;
  display: flex;
  flex-direction: column;
  flex: calc(20% -20px);
}

.movie-list li img {
  width: 90%; /* 이미지를 리스트 아이템 너비에 맞게 조정 */
  height: 55vh;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s; /* 호버 시 효과 */
}

/* .movie-list li:hover img {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
} */

.movie-title {
  font-size: 18px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
}

.movie-title > h4 {
  font-size: 24px;
}

/* 슬라이더 스타일 */
#slider {
  overflow: hidden; /* 슬라이더 오버플로우 숨기기 */
  position: relative;
  width: 50%; /* 슬라이더 너비 50% */
  margin: 20px auto; /* 슬라이더 중앙 정렬 */
}

#slider__wrap {
  display: flex; /* 슬라이드 아이템을 가로로 배치 */
  transition: margin-left 0.5s ease;
  width: 100%;
}

.slider-card {
  min-width: 33%; /* 슬라이드 카드 너비 설정 */
}

.slider-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#scroll-top {
  font-size: 28px;
  font-weight: bold;
  position: fixed;
  right: 30px;
  bottom: 35px;

  width: 40px;
  height: 50ppx;
  border: none;
  border: 1px solid white;
  border-radius: 100px;
  background: none;
  color: white;
  cursor: pointer;
}

#scroll-top:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

/* 이미지 호버 시 overview 나옴 */
.hover-container {
  position: relative;
  width: 100%; /* 이미지 너비에 맞춤 */
}

.hover-container img {
  width: 100%; /* 이미지가 컨테이너 크기에 맞게 */
  height: auto; /* 비율 유지 */
}

.overlay {
  position: absolute;
  top: 30px;
  left: 0;
  width: 85%; /* 이미지 크기에 맞게 100%로 설정 */
  height: 86%; /* 이미지 높이에 맞춤 */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* 어두운 반투명 배경 */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 처음에는 보이지 않게 설정 */
  transition: opacity 0.5s ease;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.hover-container:hover .overlay {
  opacity: 1; /* 호버 시에 overlay가 보이도록 설정 */
}

.overlay p {
  height: 70%;
  font-size: 18px;
  overflow-y: scroll;
}

.overlay p::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
